<img src="../../assets/images/logo-header.jpg">
<input type="button" value="Add New Piece" (click)="_addNew.makeVisible()">
<input type="button" value="Save" (click)="saveAll()">
<div class="main-board">
  <div *ngFor="let SL of swimLanesList" class="swim-lane">
    <b><div class="swim-lane-header">{{SL}}</div></b>
    <div *ngFor="let itemCard of ds.cardList">
      <!-- Card Element -->
      <div class="card-wrapper" *ngIf="itemCard.status === SL">
        <div  class="card-item">
          {{itemCard.name}}
        </div>
        Status: <div class="button form-item"> {{itemCard.status}} </div><br>
        Owner: <div class="button form-item" (click)="_ViewItemScreenComponent.u_openUser(getUser(itemCard.owner, ownersList))">{{itemCard.owner}}</div><br>
        Project: <div class="button form-item" (click)="_ViewItemScreenComponent.p_openProject(getProject(itemCard.project, projectList))">{{itemCard.project}}</div><br>
        <div class="button form-item" (click)="_ViewItemScreenComponent.ct_openTask(itemCard)"> View / Edit Task </div>
      </div>
      <!-- End Of Card -->
    </div>    
  </div>
</div>
